<a href="https://colab.research.google.com/github/Devanshpundir-code/ML-projects./blob/main/cancer_dataset_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing data

In [16]:
import pandas as pd 
import numpy as np
import sklearn 
from sklearn.linear_model import LinearRegression 
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import linear_model

loading data

In [5]:
breast = datasets.load_breast_cancer()

calssifiying in data and target

In [10]:
df_x = pd.DataFrame(breast.data, columns=breast.feature_names)
df_y = pd.DataFrame(breast.target)

our regression

In [18]:
train_x, test_x, train_y, test_y = train_test_split(df_x, df_y, test_size = 0.2, random_state = 4)
reg = linear_model.LinearRegression()
reg.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

prediction

In [23]:
prediction = reg.predict(test_x)

printing value

In [33]:
print("Actual value is", test_y)
print("predicted value is", prediction[15])

Actual value is      0
340  1
382  1
300  0
262  0
363  1
..  ..
202  0
541  1
379  0
329  0
531  1

[114 rows x 1 columns]
predicted value is [1.14436391]

lets find out mean squae error

In [32]:
print("mean square error is", np.mean(prediction-test_y)**2)

mean square error is 0    0.004814
dtype: float64

In [35]:
test_y.head(20)

     0
340  1
382  1
300  0
262  0
363  1
157  1
120  1
139  1
99   0
68   1
70   0
396  1
471  1
427  1
378  1
303  1
348  1
490  1
299  1
502  1